@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@200;300;400;500;600;700&family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


body{
    width: 90%;
    background: linear-gradient(70.08deg, rgba(2, 15, 132, 0) 55.98%, rgba(2, 15, 132, 0.133333) 64.13%, rgba(2, 10, 82, 0.5) 99.77%), #1F1D21;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    
}



    .w , .u{
        color: rgba(70, 85, 222, 0.62);
        margin-left: 10px;
        margin-right: 10px;
    }

    .header {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(12, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        width: 110%;
        height: 100%;
        }

        .div1 {
            grid-area: 1 / 1 / 2 / 13;
        }

        .div2 {
            grid-area: 1 / 2 / 2 / 5;
            color: #FFFFFF;
            font-size: 20px;
            font-family: "Kodchasan", serif;
            font-weight: 500;
            font-style: normal;
            align-items: center;
            display: flex;
            padding: 20px;
    
        }
        .div3 {
            grid-area: 1 / 11 / 2 / 12;
        } 
        
    
        a{
            font-family: "Kodchasan", serif;
            font-style: normal;
            font-weight: 500;
            color: #FFFFFF;
            text-decoration: none;
        }
        
        .nav{
            display: flex;
            align-items: center;
            padding: 20px;
            text-transform: uppercase;
            
        }

        .nav a {
            padding: .5em .8em;
            color: #FFFFFF;
            position: relative;
            transition: all .35s ease;
            text-decoration: none;
            font-size: 20px;
        }     
        .nav a:hover {
            border-radius: 5px;
            background-color: #FFFFFF;
            color: rgb(22, 22, 63);
        }

        .ava img{
            width: 50px;
            border-radius: 40px;
            margin-right: 10px;
        }

        .home{
            grid-area: 1 / 8 / 2 / 9;
            font-family: "Kodchasan", serif;
            padding: 0.5rem 0.7em;
            border-radius: 5px;
        }


        .about{
            grid-area: 1 / 8 / 2 / 9;
            font-family: "Kodchasan", serif;
            margin-left: 30px;
            border-radius: 5px;
            padding: 0.5rem 0.7em;

        }

        .photos {
            grid-area: 1 / 9 / 2 / 10;
            font-family: "Kodchasan", serif;
            margin-left: 30px;
            border-radius: 5px;
            padding: 0.5rem 0.7em;
        }

        .more{
            grid-area: 1 / 10 / 2 / 11;
            font-family: "Kodchasan", serif;
            margin-left: 30px;
            border-radius: 5px;
            padding: 0.5rem 0.7em;       
        }
            .info { 
                grid-area: 4 / 2 / 7 / 5;
                mix-blend-mode: luminosity;
                padding: 20px;
                width: 500px;
                background-color: rgb(22, 22, 63);
                border-radius: 30px;
                
            }
            .pic { grid-area: 7 / 2 / 9 / 5; }
            .fb { grid-area: 9 / 2 / 10 / 5; display: flex; }
            .ig { grid-area: 10 / 2 / 11 / 5; display: flex; }
            .gmail { grid-area: 11 / 2 / 12 / 5; display: flex; }
            .phonenumber { grid-area: 12 / 2 / 13 / 5; display: flex; }
            .wawa { grid-area: 3 / 5 / 13 / 9; display: flex;}

        .name{
            color: #FFFFFF;
            font-family: "Kodchasan", serif;
            font-size: 25px;
            font-weight: bold;
        }

        .mess{
            color: #FFFFFF;
            font-size: 20px;
            font-family: "Kodchasan", serif;
        }

        .wawa img{
            width: 900px;
            height: 762px;
            filter: drop-shadow(10px 10px 20px rgb(102, 101, 101));
        }

        .die img{
            margin-top: 620px;
            opacity: 50%;
            width: 300px;
            height: 140px;
        }

    .fb , .ig, .gmail ,.phonenumber{
        margin-top: 20px;
    }

    .text{
        margin-top: 9px;
        font-family: "Kodchasan", serif;
        color: #FFFFFF;
        text-decoration: none;
    }

    .num{
        margin-top: 9px;
        font-family: "Kodchasan", serif;
        font-weight: 500;
        color: #FFFFFF;
        text-decoration: none;
    }

    .fb img, .ig img, .gmail img,.phonenumber img{
        width: 40px;
        height: 40px;
        margin-left: 40px;
        margin-right: 20px;
    }

    .pic img{
        width: 500px;
        border-radius: 30px;
        opacity: 50% ;
    }

    .about-a{
        grid-area: 4 / 2 / 7 / 5;
        font-size: 20px;
        font-family: "Kodchasan", serif;
        font-weight: 500;
        font-style: normal;
        align-items: center;
        color: #FFFFFF;
        border: solid 1px #FFFFFF;
        position: relative;
        width: 620px;
        height: 410px;
        padding: 20px;
        border-radius: 30px;
        background-color: transparent;
        z-index: -1;
        position: relative;
    }

    .personal{
        color: #FFFFFF;
        font-size: 20px;
        font-family: "Kodchasan", serif;
        font-weight: 500;
        font-style: normal;
        align-items: center;
        position: relative;
    }

    .name-a, .Birthday, .age, .gender, .address, .school, .course, .year{
        padding: 10px;
        padding-left: 30px;
    }

    .Favorites{
        color: #FFFFFF;
        border: solid 1px #FFFFFF;
        font-family: "Kodchasan", serif;
        font-weight: 500;
        font-style: normal;
        font-size: 20px;
        width: 255px;
        margin-top: 57px;
        border-radius: 30px;
        height: 193px;
        padding: 20px;
        margin-left: -323px;
        position: absolute;
    }

    .hobbies{
        border: solid 1px #FFFFFF;
        width: 255px;
        margin-top: 57px;
        border-radius: 30px;
        height: 193px;
        padding: 20px;
        position: relative;
        
    }

    .about-b { 
        grid-area: 3 / 5 / 13 / 9;
        display: inline;
    }

    .wang img{
        opacity: 50%;
        /*margin-top: 280px;*/
    } 

    .comments{
        font-family: "Kodchasan", serif;
        font-weight: 500;
        font-style: normal;
        font-size: 20px;
        width: 690px;
        margin-top: 73px;
        margin-left: 50px;
        padding: 30px;
        color: #FFFFFF;
        border-radius: 30px;
        border: solid 1px #FFFFFF;
    }

    
    .content{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .firstrow img{
        width: 100px;
    }